<section class="intro flex flex-row w-full items-center justify-between md:py-4 md:px-8 md:space-x-8 p-4 gap-4"> 
    <section class="goodmorning flex flex-col">
        <p class="text-md font-semibold"> Hi Sarah!</p>
        <p class="text-gray-500 dark:text-gray-600">you have 3 pending tasks for today</p>
    </section>
    <button class="flex py-2 px-2 md:py-3 md:px-4 items-center justify-center bg-indigo-400 dark:bg-indigo-700 shadow rounded-2xl"><svg xmlns="http://www.w3.org/2000/svg" class="size-5 md:size-6" viewBox="0 0 512 512"><path fill="currentColor" fill-rule="evenodd" d="M277.119 65.93v168.951h168.952v42.238H277.119v168.952h-42.238V277.119H65.93v-42.238h168.951V65.93z"/></svg> <span class="ml-2">Add Task</span></button>
</section>