<section class="navbar flex justify-between items-center p-4 shadow-md w-full">
    <section class="navlogo flex items-center gap-2 justify-center">
        <img src="https://img.icons8.com/?size=100&id=48255&format=png&color=000000" alt="navlogo" class="w-10 h-10" />

        <p class="md:text-2xl text-lg font-semibold leading-tight tracking-tight m-0 p-0">TaskFlow</p>

    </section>

    <section class="navlinks flex items-center gap-3">
        <svg class="size-5 md:size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="currentColor" d="M960 960H622q-17 29-46 46.5t-64 17.5t-64-17.5t-46-46.5H64q-27 0-45.5-19T0 896v-64q53 0 90.5-75T128 576V448q0-142 91.5-248.5T448 70v-6q0-27 19-45.5T512 0t45 18.5T576 64v6q137 23 228.5 129.5T896 448v128q0 106 37.5 181t90.5 75v64q0 26-18.5 45T960 960z"/></svg>
        <svg class="size-5 md:size-6 rounded-full" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path fill="currentColor" d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/></svg>

    </section>

</section>
