@inherits LayoutComponentBase

@using Blazored.Toast


<IntroNav />
<!-- Only wraps content with padding, no navs -->
<section class="flex flex-col items-center justify-center  p-10">
    
   

        @Body
   
</section>