<div class="bg-white/50 dark:bg-gray-600/85 p-4 rounded shadow-sm text-center flex flex-col  items-center w-full h-full ">
    <p class="text-sm ">@Title</p>
    <p class="text-2xl font-bold @TextColor">@Value</p>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public int Value { get; set; }
    [Parameter] public string TextColor { get; set; } = "text-black";
}
